# Set
Sets are used to store multiple items in a single variable.A set is a collection which is both unordered and unindexed and do not allow duplicate values.

In [4]:
set1 = {'Apple','Banana','Mango','Pineapple',3,4,5,7,True}

AttributeError: 'set' object has no attribute 'print'

In [2]:
len(set1)

9

### Access Items

In [3]:
for item in set1:
    print(item)

True
3
4
5
Apple
7
Pineapple
Mango
Banana

### Add Items

In [4]:
set1.add("Orange")      #Takes one argument

In [5]:
set2 = {1,2,3,4,5,6,7,8,9}
set1.update(set2)     #updating values in set1 except the repeated one's
set1                  #1=True

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'Apple',
 'Banana',
 'Mango',
 'Orange',
 'Pineapple',
 True}

In [6]:
set2= {'Watermelon','Banana','Melon'}
set1.update(set2)           #add items from another set
set1

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'Apple',
 'Banana',
 'Mango',
 'Melon',
 'Orange',
 'Pineapple',
 True,
 'Watermelon'}

### Join Two Sets

In [7]:
set3 ={'a','b','c'}
set4 = {1,2,3}
print(set3.union(set4))        #returns a new set containing all items from both
print(set3|set4)

{1, 2, 'c', 'b', 'a', 3}
{1, 2, 'c', 'b', 'a', 3}

### Remove Item

In [8]:
set1.remove(True)      #Remove specific item
set1

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'Apple',
 'Banana',
 'Mango',
 'Melon',
 'Orange',
 'Pineapple',
 'Watermelon'}

In [9]:
set1.discard(True)       #Although item to remove does not exist, discard() will NOT raise an error.
set1

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'Apple',
 'Banana',
 'Mango',
 'Melon',
 'Orange',
 'Pineapple',
 'Watermelon'}

In [10]:
set1.pop()        #removes last item, but as set are unordered random item is removed

2

In [11]:
set2.clear()         #empties the set
set2

set()

In [12]:
del set2       #delete the set
# print(set2)    ---> NameError: name 'set2' is not defined

### Keep only the duplicates

In [13]:
set5= set4.intersection(set1)     #returns a set than contains the intersection values
set5

{3}

In [14]:
#Also for intersection
set5 & set4

{3}

In [15]:
#Multi-intersection
set1 & set4 & set5

{3}

In [16]:
set4.intersection_update(set1)        #update the intersection value in the calling set
set4          # since 1 and 2 are not present in set1 only {3} is left in set4

{3}

### Non Duplicates

In [17]:
set5 = {"Orange", "Apple",'Kiwi','Pear','Mango'}
print(set1.symmetric_difference(set5))    #Returns new set of non duplicate values of both sets

{'Kiwi', 3, 4, 5, 6, 7, 8, 9, 'Watermelon', 'Banana', 'Melon', 'Pear', 'Pineapple'}

In [18]:
set1.symmetric_difference_update(set5)       #updates values in set1

In [19]:
set1

{3,
 4,
 5,
 6,
 7,
 8,
 9,
 'Banana',
 'Kiwi',
 'Melon',
 'Pear',
 'Pineapple',
 'Watermelon'}

### Other Methods

In [20]:
set1.isdisjoint(set3)         #returns boolean value check if they have intersection or not

True

In [21]:
set4.issubset(set1)    #check if its a subset

True

In [22]:
set1.issuperset(set4)   #Check if set1 is superset of set4

True