# String

In [1]:
s1= 'Hello, World'     #Single Line
s2 = """Hello World.
Welcome to Machine Learning and AI course"""

In [2]:
len(s2)

54

In [3]:
"AI" in s2   #Membership operator use

True

In [4]:
s1[6]             #Accessing data with indexing

' '

In [5]:
s2[6:20]           #Slicing

'World.\nWelcome'

In [6]:
s1.upper()         #To Upper case

'HELLO, WORLD'

In [7]:
s1.lower()           #To lower case

'hello, world'

In [8]:
s1.title()        #First letter capital

'Hello, World'

In [9]:
s1.replace("Hello","Hi")     #replacing data

'Hi, World'

In [10]:
s3="          Hi Space"
s3.strip()          #Removes whitespace before and after sentence

'Hi Space'

In [ ]:
s1.split(",")       #returns list of words separated by ','

### Concatenation

In [36]:
s1+s3.strip()

'Hello, WorldHi Space'

In [37]:
s1+" "+s3.strip()

'Hello, World Hi Space'

### String Format

In [10]:
# format method 
name = input("Enter your name: ")
age = input("Enter your age: ")
print("My name is {}, and I am {} yrs old".format(name,age))
print("I am {1} yrs old, and my name is {0}".format(name,age)) #changed indexing

Enter your name: Shruti Jain
Enter your age: 20
My name is Shruti Jain, and I am 20 yrs old
I am 20 yrs old, and my name is Shruti Jain

In [ ]:
# Formatting of Integers
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is: ",String1)
  
# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is: ",String1)

# Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\none-sixth is: ",String1)
print(String1)

# Dictionary
A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

In [11]:
dict1 = {'Name':"Shruti Jain", 'Subject':["Python","ML","AI"], 'Class':'B.Tech MT'}
dict1

{'Name': 'Shruti Jain',
 'Subject': ['Python', 'ML', 'AI'],
 'Class': 'B.Tech MT'}

In [12]:
#Access value of key
print(dict1['Name'])            #1
print(dict1.get('Subject'))     #2

Shruti Jain
['Python', 'ML', 'AI']

In [13]:
len(dict1)        #length of list

3

### To add new item

In [14]:
dict1['Age'] = 20

In [15]:
dict1

{'Name': 'Shruti Jain',
 'Subject': ['Python', 'ML', 'AI'],
 'Class': 'B.Tech MT',
 'Age': 20}

### Accessing items

In [16]:
dict1.items()

dict_items([('Name', 'Shruti Jain'), ('Subject', ['Python', 'ML', 'AI']), ('Class', 'B.Tech MT'), ('Age', 20)])

In [17]:
dict1.keys()     #returns all key names

dict_keys(['Name', 'Subject', 'Class', 'Age'])

In [18]:
dict1.values()

dict_values(['Shruti Jain', ['Python', 'ML', 'AI'], 'B.Tech MT', 20])

### Checking if key exist

In [19]:
'Age' in dict1      #Membership operator

True

### Updating Dictionary

In [20]:
dict1.update({"Age":21})         #update a value

In [21]:
dict1.update({"YOP":2022})       #also add new item
dict1

{'Name': 'Shruti Jain',
 'Subject': ['Python', 'ML', 'AI'],
 'Class': 'B.Tech MT',
 'Age': 21,
 'YOP': 2022}

In [22]:
dict1['Subject'][2]="C++"       #updating value in list
dict1

{'Name': 'Shruti Jain',
 'Subject': ['Python', 'ML', 'C++'],
 'Class': 'B.Tech MT',
 'Age': 21,
 'YOP': 2022}

In [23]:
dict1['Subject'].extend(['AI','Solidworks'])    #extending list value
dict1

{'Name': 'Shruti Jain',
 'Subject': ['Python', 'ML', 'C++', 'AI', 'Solidworks'],
 'Class': 'B.Tech MT',
 'Age': 21,
 'YOP': 2022}

In [24]:
dict1.setdefault('Age',23)     #Value remain same if already defined, otherwise new item added
dict1

{'Name': 'Shruti Jain',
 'Subject': ['Python', 'ML', 'C++', 'AI', 'Solidworks'],
 'Class': 'B.Tech MT',
 'Age': 21,
 'YOP': 2022}

### Removing Items

In [25]:
dict1.pop("Class")   #removes and return the item with the specified key name
dict1

{'Name': 'Shruti Jain',
 'Subject': ['Python', 'ML', 'C++', 'AI', 'Solidworks'],
 'Age': 21,
 'YOP': 2022}

In [26]:
dict

dict

In [27]:
dict1.popitem()        #removes the last inserted item

('YOP', 2022)

In [28]:
dict2 = {'Name':'Sneha', 'Subject':['Java','ML','DSA'],'Class':'B.Tech CS'}
dict2

{'Name': 'Sneha', 'Subject': ['Java', 'ML', 'DSA'], 'Class': 'B.Tech CS'}

In [29]:
dict2.clear()       #Clear whole dictionary
dict2

{}

In [30]:
del dict2           #Delete whole dictionary

### Copy a Dictionary

In [31]:
dict2 = dict1    #this will create a alias of dict1, not copy
dict3 = dict1.copy()    #this will make a copy of dict1

In [32]:
dict1.update({'Internship':'Techienest'})    #updating dict1
dict2         #Automatic update as dict1 is updated

{'Name': 'Shruti Jain',
 'Subject': ['Python', 'ML', 'C++', 'AI', 'Solidworks'],
 'Age': 21,
 'Internship': 'Techienest'}

In [33]:
dict3    #not updated with dict1

{'Name': 'Shruti Jain',
 'Subject': ['Python', 'ML', 'C++', 'AI', 'Solidworks'],
 'Age': 21}

### Nested Dictionary

In [34]:
student1 = {
  "name" : "Monica",
  "year" : 2000
}
student2 = {
  "name" : "Chandler",
  "year" : 2001
}
student3 = {
  "name" : "Joey",
  "year" : 2001
}

classroom = { "student1" : student1,
  "student2" : student2,
  "student3" : student3
}